@import "tailwindcss";

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* padding-top: 80px; */
}

.bg-black {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/*PillNav styles*/
.pill-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pill {
  min-width: 90px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.5px;
  position: relative;
}

.pill.is-active {
  color: #2563eb;
}

.pill-label,
.pill-label-hover {
  white-space: nowrap;
  line-height: 1rem;
}

.hover-circle {
  z-index: 0;
}

.relative.z-10 {
  z-index: 10 !important;
}

.font-black {
  font-weight: 900;
}

.brand-logo:hover svg {
  transform: rotate(15deg);
  transition: transform 0.2s ease;
}

.pill.is-active .pill-label {
  color: #2563eb;
}

nav {
  border-bottom: none !important;
  box-shadow: none !important;
}

.fixed {
  outline: none;
  border: none;
}