@import "tailwindcss";

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* padding-top: 80px; */
}

.bg-black {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/*PillNav styles*/
.pill-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pill {
  min-width: 90px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.5px;
  position: relative;
}

.pill.is-active {
  color: #2563eb;
}

.pill-label,
.pill-label-hover {
  white-space: nowrap;
  line-height: 1rem;
}

.hover-circle {
  z-index: 0;
}

.relative.z-10 {
  z-index: 10 !important;
}

.font-black {
  font-weight: 900;
}

.brand-logo:hover svg {
  transform: rotate(15deg);
  transition: transform 0.2s ease;
}

.pill.is-active .pill-label {
  color: #2563eb;
}

nav {
  border-bottom: none !important;
  box-shadow: none !important;
}

.fixed {
  outline: none;
  border: none;
}

/* Custom Light Scrollbar */
@layer utilities {
  .scrollbar-light {
    scrollbar-width: thin;
    scrollbar-color: #e2e8f0 transparent;
  }

  .scrollbar-light::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  .scrollbar-light::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-light::-webkit-scrollbar-thumb {
    background-color: #f1f5f9;
    border-radius: 20px;
    border: 1px solid transparent;
  }

  .scrollbar-light:hover::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
  }

  .mask-fade {
    mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}